    {# templates/sorteo/menu.html.twig #}
    <h2>Menu</h2>
    <ul>
        <li {% if seccionActual == "inicio" %}class="actual"{% endif %}>
            <a href="{{ path("index") }}">Inicio</a>
        </li>
        <li {% if seccionActual == "numero" %}class="actual"{% endif %}>
            <a href="{{ path("app_numero_sorteo") }}">Número</a>
        </li>
        <li {% if seccionActual == "euromillones" %}class="actual"{% endif %}>
            <a href="{{ path("app_euromillones") }}">Euromillones</a>
        </li>
        <li {% if seccionActual == "apuestas" %}class="actual"{% endif %}>
            <a href="{{ path('app_apuesta_lista') }}">Apuestas</a>
        </li>
        <li {% if seccionActual == "nuevaApuesta" %}class="actual"{% endif %}>
            <a href="{{ path('app_nueva_apuesta') }}">Nueva Apuesta</a>
        </li>
    </ul>

    {% if is_granted('ROLE_USER') %}
    <h3>Hola {{ app.user.nombre }}</h3>
    <p><small>Sesión iniciada como {{ app.user.email }}</small></p>
    <p><a href="{{ path("app_logout") }}">Cerrar sesión</a></p>
    {% else %}
    <p><a href="{{ path("app_login") }}">Iniciar sesión</a></p>
    {% endif %}