{# templates/sorteo/suma.html.twig #}
<html>
    <head><title>Sumar {{numero1}} y {{numero2}}</title></head>
    <body>
        <h1>{{ numero1 }} + {{ numero2 }} = {{ resultado }}</h1>
    </body>
</html>